api==0.0.7
APScheduler==3.10.4
huggingface_hub==0.25.1
kedro==0.19.9
kedro_viz==10.0.0
onnx==1.15.0
onnx_graphsurgeon==0.5.2
onnxsim==0.4.36
pandas==2.2.3
pytest==7.4.4
pytest-cov
Requests==2.32.3
tensorrt==10.5.0
tensorrt_cu12==10.5.0
# torch==2.5.0+cu121
torch==2.5.0
ultralytics==8.3.17
